<!DOCTYPE html>
<html>
<head>
    <title>Credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Kevin Ballester</h1>
<img src="/images/Credits.jpg"/>
<p>
<a href="/">HOME</a>
<a href="/quizzes">quizzes</a>

</p>

</body>
</html>
